<div class="topnav" id="topnav">
  <a class="active home" href="../index.html">Home</a>
  <a class="POD" href="../POD/index.html">Picture of the Day</a>
  <a class="giftShop" href="../giftshop/index.html">Gift Shop</a>
  <!-- <div class="search">
    <form id="searchForm" action="./search_pages/index.html">
      <input
        id="searchFormInput"
        type="text"
        name="category"
        placeholder="Search category..."
      />
      <button class="searchButton">Search</button>
    </form>
  </div> -->
</div>
